.module {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    padding: 30px 15px;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.module.show {
    display: block;
}

.module__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.module__content {
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    padding: 25px;
    position: relative;
    transform: rotate(360deg);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.log button{
    border: none;
    background-color: transparent;
}
.btn{
    position: absolute;
    right: 2px;
    top: 2px;
    border: none;
    background-color: transparent;
}